*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: orange;
    /*position: fixed;*/
    background: wheat;
    width: 100%;
    margin-top: 0;
}

.leftnav{
    display: flex;
    margin-left: 50px;
}

.leftnav img{
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius:50%;
}
.boldone{
    color: red;
    font-weight: bolder;
}


.rightnav ul{
    margin-right: 30px;
    display: flex;
    justify-content: space-between;

}

.rightnav ul li {
    font-size: 20px;
    font-weight:bold ;
    position: relative;
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.rightnav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.container1{
    width: 100%;
    height: 550px;
    background-image:url(/img/image.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    align-items: center;
    padding: 100px;
    color: orange;
}

button{
    padding: 2px;
    border-radius: 6px;
    color: red;
    background-color: orange;
    font-size: 30px;
    font-weight: bold;
    
}
.itemscont1{
    padding: 30px;
    background:none;
    border: 3px solid;
    margin: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
     display: grid;
     display: flex;
     border-radius: 10px;
}

.productdiv{
    width: 300px;
    height: 200px;
    background-color: green;
    margin: 30px;
    border-radius: 5px;
}
