<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout Page</title>
    <link rel="stylesheet" href="checkout.css">
</head>
<body>
    <div class="checkout-container">
        <h1>Checkout</h1>
        
        <form class="checkout-form" method="post" action="/place_order">
                <label for="fullname">Full Name</label>
                <input type="text" id="checkout-name" name="name" placeholder="Enter your Name" required>
                
                <label for="email">Email</label>
                <input type="email" id="checkout-email"name="email" placeholder="example@mail.com" required>
                
                <label for="phone">Phone Number</label>
                <input type="tel" id="checkout-phone" placeholder="+1 234 567 8900" name="phone"required>
                
                <label for="address">City</label>
                <input type="tel" id="checkout-city" name="city" placeholder="123 Street Name" required>
                
                <label for="city">Address</label>
                <input type="text" id="city" placeholder="City" name="address" required>

                <input type="hidden" id="cost"  name="cost" value=" <%= total %>" required>

                <div>
                    <p>Total amount : <%= total %></p>
                    <input type="submit" class="btn" id="checkout-btn" name="checkout-btn" value="Checkout">
                </div>
                
        </form>
    </div>
</body>
</html>
