<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="./css/main.css">
    <title>Document</title>
</head>
<body>
   
    <nav>
        <div class="leftnav">
            <img src="./img/Screenshot 2025-12-05 113525.png">
            <h1><span class="boldone">Smart</span> Farm</h1>
        </div>

        <div class="rightnav">
            <ul >
                    <li><a href="#header">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Products</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/employeelogin">Staff Portal</a></li>
                    
                </ul>
        </div>
    </nav>
    <div class="container1" >
    

        <h1 class="boldone">The Smart Farm Poultry Farm</h1>
        <br><br><br>
        
            <h1>Get the best poultry products <br>  and services <br>for your business needs and family</h1>
          <br><br><br><br>
        
        <a href="/products">
        <button>View Products</button>
        </a>

       
    </div>
    <h2>About Us</h2>
   
     <div class="itemscont1" id="about">
       
         <div class="productdiv">
            <h3>Our story</h3>
        </div>
        
        
    </div>

    <h2>products and Servises</h2>
    <div class="itemscont1" id="services">
        <div class="productdiv">
            <h3>eggs</h3>
        </div>
        
         <div class="productdiv">
            <h3>meat</h3>
        </div>
        
         <div class="productdiv">
            <h3>chicken feeds</h3>
        </div>
        
         <div class="productdiv">
            <h3>chicken feeds</h3>
        </div>
         <div class="productdiv">
            <h3>chicken feeds</h3>
        </div>
         <div class="productdiv">
            <h3>chicken feeds</h3>
        </div>
        
    </div>
    <h2>contuct us</h2>
     <div class="itemscont1" id="contact">
       
        
            <h3>contacts</h3>
            <h4>Number: 0700034758</h4>
            <h4>Email : Smartfarm@gmail.com</h4>
        
             <form name="submit-to-google-sheet">
                        <input type="text" name="Name" placeholder="Your Name" required>
                        <input type="email" name="Email" placeholder="Email" required>
                        <textarea name="Message" rows="6"placeholder="Your Message"></textarea>
                        <button type="submit">Submit</button>
                    </form>
        
        
    </div>
    
</body>
</html>